/* GENERAL */
body {
  /* text-align: center; */
  font-family: 'Rubik', sans-serif;
  color: #5F7161;
  font-weight: 100;
  background-color: #EFEAD8;
  width: auto;
  padding-top: 100px;
  margin: 0;
  /* justify-content: center; */
}

button {
 border-radius: 100px;
 font-size: larger;
 width: 100px;
 height: 50px;
 padding: 0;
 border: none;
  background: none;
}

i {
  color: #6D8B74;
}

.navbar {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  max-height: 100px;
  background-color: #D0C9C0;
}

  .nav-left {
    float:left;
    width: 50%;
    text-align: left;
    justify-content: center;
  }

  .nav-right {
    float:left; 
    padding-left:5%;
    padding-right: 5%;
    text-align: right;
  }

.switch-container{
  right: 20vw;
  /* position: fixed; */
  overflow-y: scroll;
}
/* WEATHER PANEL */
.weather-panel {
  position: fixed;
  right: 0;
  z-index: 1;
  height: 100vh;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  background: gradient(90deg, blue, red);
}

/* DRESSER */
/* .dresser-body {
  overflow: scroll;
} */

#item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 10px;
}

/* .item-masonry {
  display: flex;
  flex-direction: row;
  margin-left: -8px;
  width: 20%;
} */

.item-masonry {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: masonry; */
  max-width: 100%;
  /* overflow-y: scroll; */
}

.item {
  /* flex: auto; */
  /* height: 250px; */
  max-width: 300px;
  margin: 0 8px 8px 0;
}

#item-image {
  /* max-width: 500px; */
  max-width: 300px;
  border-radius: 15px;
}

#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 10px;
}

.edit-screen {
  position: fixed;
  backdrop-filter: blur(5px);
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px;
  border-radius: 15px;
}

/* center pop-up maybe */
/* position: fixed;
width: 500px;
height: 200px;
top: 50%;
left: 50%;
margin-top: -100px; /* Negative half of height. */
/* margin-left: -250px; */

/* OUTFITS */