.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

#item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 10px;
}

/* .item-masonry {
  display: flex;
  flex-direction: row;
  margin-left: -8px;
  width: 20%;
} */

.item-masonry {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
}

/* .item { */
  /* flex: auto; */
  /* height: 250px; */
  /* max-width: 300px; */
  /* margin: 0 8px 8px 0; */
/* } */

#item-image {
  /* max-width: 500px; */
  max-width: 300px;
}

#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 10px;
}