/* GENERAL */
html {
  background: linear-gradient(180deg, #0B1861, #265396) no-repeat center fixed;
  background-size: cover;
}
/* background: gradient(90deg, blue, red); */
body {
  /* text-align: center; */
  font-family: 'Rubik', sans-serif;
  color: white;
  font-weight: 100;
  width: 100%;
  padding-top: 15%;
  margin: 0;
  /* justify-content: center; */
}

button {
  /* border-radius: 100px; */
  font-size: large;
  color: #C70A80;
  width: max-content;
  height: max-content;
  padding: 5px;
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

i {
  color: #C70A80;
  padding: 0px 2.5px 2.5px 0px;
  margin: auto;
}

input {
  width: auto;
  height: auto;
  border-radius: 15px;
  font-family: 'rubik', sans-serif;
  font-size: 1em;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 0;
}

select {
  width: auto;
  height: auto;
  border-radius: 15px;
  font-family: 'rubik', sans-serif;
  font-size: 1em;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 0;
}

.navbar {
  position: fixed;
  /* display: table; */
  width: 100%;
  top: 0;
  padding: 0;
  height: 15%;
  background-color: #0B1861;
  /* text-align: ; */
}
  .active i {
    text-shadow: 2px 2px 2px white;
  }
  /* .nav-left {
    float:left;
    width: 50%;
    text-align: left;
    justify-content: center;
  } */

  /* .nav-right {
    float:left; 
    padding-left:5%;
    padding-right: 5%;
    text-align: right;
  } */

.switch-container{
  width: 70%;
  /* position: fixed; */
  overflow-y: scroll;
}
/* WEATHER PANEL */
.weather-panel {
  position: fixed;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 25%;
}

/* DRESSER */
/* .dresser-body {
  overflow: scroll;
} */

#item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 10px;
}

/* .item-masonry {
  display: flex;
  flex-direction: row;
  margin-left: -8px;
  width: 20%;
} */

.item-masonry {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: masonry; */
  max-width: 70%;
  /* overflow-y: scroll; */
}

.item {
  /* flex: auto; */
  /* height: 250px; */
  max-width: 300px;
  margin: 0 8px 8px 0;
}

#item-image {
  /* max-width: 500px; */
  max-width: 300px;
  border-radius: 15px;
}

#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 10px;
}

.edit-screen {
  position: fixed;
  backdrop-filter: blur(5px);
  width: min-content;
  height: max-content;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px;
  border-radius: 15px;
}

/* center pop-up maybe */
/* position: fixed;
width: 500px;
height: 200px;
top: 50%;
left: 50%;
margin-top: -100px; /* Negative half of height. */
/* margin-left: -250px; */


/* OUTFITS */